:root {
  --main-color: #00ff55;
  --dark-color: #1f1f1f;
  --light-color: #fafafa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light-color);
  background-color: var(--dark-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}